ENV="env"
# JSON files paths
JSON_META_LISTS_PATH='./oss_archive/components/meta_lists/json_meta_lists/' 
JSON_LICENSES_PATH='./oss_archive/components/licenses/licenses.json' 
# Database Vars to format DB_URL: postgresql://username:password@host:port/database 
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="oss_archive"
DB_USER="postgres"
DB_PASSWORD="postgres"